<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title> {{title | lowercase | uppercase }}</mat-card-title>
        <mat-card-subtitle>{{subtitle | lowercase}}</mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>
        <span>{{todaydate | date:'dd/MMM/yy'}}</span>
        <br />
        <span>{{salary | currency:'EUR'}}</span>
        <br />
        <span>{{salary | number:'1.2-3'}}</span>
        <br />
        <span>{{salary/100 | percent}}</span>
        <br />
        <span>{{_obj | json}}</span>
        <br />
        <span>{{title | reverse}}</span>
        <br />
        <input type="checkbox" checked="{{isDisabled}}" />
        <input type="checkbox" [checked]="isDisabled">
        <br />
        <input (keyup)="updatetitle($event)">
        <input [(ngModel)]=title>
        <br />
        <button (click)="changetitle()">click</button>
    </mat-card-content>




    <mat-card-actions>
    </mat-card-actions>
</mat-card>
<br>