<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title> {{title | lowercase | uppercase }}</mat-card-title>
        <mat-card-subtitle>{{subtitle | lowercase}}</mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>
        <span>{{todaydate | date:'dd/MMM/yy'}}</span>
        <br />
        <span>{{salary | currency:'EUR'}}</span>
        <br />
        <span>{{salary | number:'1.2-3'}}</span>
        <br />
        <span>{{salary/100 | percent}}</span>
        <br />
        <span>{{_obj | json}}</span>
        <br />
        <span>{{title | reverse}}</span>
        <br />
        <input type="checkbox" checked="{{isDisabled}}" />
        <input type="checkbox" [checked]="isDisabled">
        <br />
        <input (keyup)="updatetitle($event)">
        <input [(ngModel)]=title>
        <br />
        <button (click)="changetitle()">click</button>
        <!-- <div [ngClass]="_class"> -->
        <div [ngClass]="{'active':isDisabled}">
            <h2>Attribute Directive</h2>
        </div>

        <div *ngIf="isShow">
            <h2 [ngStyle]="{'color':_color,'font-size':_font}">Attribute Directive</h2>
        </div>
        <ol>
            <li *ngFor="let item of tickerinfo" [ngStyle]="{'color':item.color}">{{item | json}}</li>
        </ol>
        <input [(ngModel)]="_view">
        <div [ngSwitch]="_view">
            <div *ngSwitchCase="'home'">
                <h2>this is home view</h2>
            </div>
            <div *ngSwitchCase="'about'">
                <h2>this is aobut view</h2>
            </div>
            <div *ngSwitchCase="'contact'">
                <h2>this is contact view</h2>
            </div>
            <div *ngSwitchDefault>
                <h2>this is default view</h2>
            </div>
        </div>

        <div>
            <input [(ngModel)]="firstname">
            <app-child [firstname]="firstname" lastname="zhu" [obj]="_obj"
                (dataupdater)="updatetitle1($event)"></app-child>

            <div>
                <input placeholder="Fruit name" #fruit>
                <button (click)="addFruit(fruit.value)">Add Fruit</button>
            </div>
        </div>

    </mat-card-content>




    <mat-card-actions>
    </mat-card-actions>
</mat-card>
<br>