<mat-toolbar color="primary" *ngIf="showMenu">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Angular 18 Full Course</span>
    <span class="example-spacer"></span>
    <button routerLink="home" mat-button>Home</button>
    <button routerLink="about" mat-button>About</button>
    <button routerLink="contact" mat-button>Contact</button>
    <button routerLink="customer" mat-button>Customer</button>
    <button routerLink="product" mat-button>Product</button>
    <button routerLink="learnrxjs" mat-button>RXJS</button>
    <button routerLink="login" mat-button>Logout</button>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>