<h2>counter value: {{displayValue}}</h2>
<!-- <h2>counter value: {{masterService.counterValue()}}</h2> -->

<ul>
    @for (item of masterService.players(); track $index) {
    <li>{{item.id}}: {{item.name}}</li>
    }
</ul>


<div>
    @if(totalPlayers() == 0) {
    <span>NO users</span>
    }
    @else if(totalPlayers() === 1){
    <h3>we have {{_signalCount()}} players</h3>
    }
    @else if(totalPlayers() === 2) {
    <h2>we have {{totalPlayers$ | async }} players</h2>
    }
    @else {
    <h1>we have {{totalPlayers()}} players</h1>
    }

</div>