.mat-mdc-card {
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
}

.mat-mdc-form-field {
    width: 100%;
}

.mat-mdc-card-actions {
    justify-content: center;
}

.mdc-button {
    padding: 0 5px;
    margin: 0 10px
}

.example-section {
    margin: 12px 0;
}

/* .example-margin {
    margin: 0 12px;
} */

.mat-mdc-radio-button~.mat-mdc-radio-button {
    margin-left: 16px;
}